# # Server Configuration
# PORT=5000
# NODE_ENV=development

# DB_USER=postgres.vfcsjjbtfmqafdnmdfju
# DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
# DB_NAME=postgres
# DB_PASSWORD=f*_Y/mHf4UVNUr7
# DB_PORT=5432
# # JWT Secret
# # JWT_SECRET=750h3CVj0kviGyYVS3fMm6w9iN/4jHShCuA9VcqClHxcb2sP5NlsuqnjOogz/dDGWcTMKwGzzs4qetbhqqB4Fw==
# SUPABASE_URL=https://vfcsjjbtfmqafdnmdfju.supabase.co
# SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmY3NqamJ0Zm1xYWZkbm1kZmp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MTE5MTYsImV4cCI6MjA5NDQ4NzkxNn0.0tyQiZKc31pQYMImfGkCTnF-45N9ZyexvNpDUGiEp2I
# # URL API AI Engineer
# AI_ENGINEER_API_URL=https://drinking-celery-pedigree.ngrok-free.dev
# AI_BASE_URL=https://flyable-defiant-implosive.ngrok-free.dev